@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  background: #EFF2F3;
  margin: 0 0 0 64px;
  font-family: 'helvetica neue', sans-serif;
  font-size: 14px;
}

.icon.large i {
  font-size: 36px;
}

.button {
  outline: none;
  padding: .5em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#apps-switch {
  position: relative;
  margin-right: 15px;
}

#apps-switch .icon {
  line-height: 0;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#apps-switch .button {
  display: block;
}

#apps-switch .button:hover .icon {
  color: rgba(255, 255, 255, 0.4);
}

#apps-switch #apps-popup {
  position: absolute;
}

#apps-switch #apps-popup .popup-content {
  background: white;
  height: 200px;
  width: 100px;
}

.top-bar {
  height: 64px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.top-bar .icon {
  color: #8D969C;
  line-height: 0;
}

.top-bar .left {
  padding-left: 20px;
}

.top-bar .left .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 300;
  color: #373F44;
}

.top-bar .right {
  padding-right: 10px;
}

.top-bar .right .page-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-bar .right .lf-settings .navbar-nav > li > a {
  padding: 22px 20px;
}

.top-bar .right .lf-settings .navbar-nav > li > a:focus, .top-bar .right .lf-settings .navbar-nav > li > a:hover {
  background-color: #f4f4f4;
}

.top-bar .right .lf-settings .navbar-nav > li > a > i {
  font-size: 20px;
  color: #797979;
}

.top-bar .left, .top-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.vertical-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #2C3439;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 100;
}

.vertical-nav .primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  overflow: hidden;
}

.vertical-nav .primary-nav .slide {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.vertical-nav .primary-nav .slide.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-nav .primary-nav .slide.one:not(.active) {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 49px;
}

.vertical-nav .primary-nav .slide.one:not(.active) .nav-list li > a {
  padding: 10px 12px;
}

.vertical-nav .primary-nav .slide.one:not(.active) .nav-list .icon {
  width: 36px;
}

.vertical-nav .primary-nav .slide.one:not(.active) .nav-list .text {
  opacity: 0;
}

.vertical-nav .primary-nav .slide.two {
  background: #EFF2F3;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.vertical-nav .primary-nav .slide.two:not(.active) {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 0;
}

.vertical-nav .primary-nav .slide.active {
  width: 211px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.vertical-nav .branding {
  width: 260px;
  background: #212529;
  height: 64px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vertical-nav .branding .symbol {
  height: 64px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.vertical-nav .branding .text {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
  width: 50px;
}

.vertical-nav .profile {
  width: 260px;
  background: #212529;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.vertical-nav .profile .avatar {
  height: 64px;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #575757;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.vertical-nav .profile .avatar img {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 44px;
  height: 44px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.vertical-nav .profile .details {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.vertical-nav .profile .details .name {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1em;
  padding-bottom: 5px;
}

.vertical-nav .profile .details .company {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1em;
}

.vertical-nav .nav-bottom {
  background: transparent;
}

.vertical-nav .nav-bottom .profile-util {
  background: #212529;
  height: 64px;
  margin-bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.vertical-nav .nav-bottom .profile-util .chart {
  position: relative;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-nav .nav-bottom .profile-util .chart .donut {
  width: 44px;
  height: 44px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.vertical-nav .nav-bottom .profile-util .chart .percentage {
  position: absolute;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.vertical-nav .nav-bottom .profile-util .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-nav .nav-bottom .profile-util .text a {
  color: #98ADBA;
  text-decoration: none;
}

.vertical-nav .nav-bottom .profile-util .text a:hover {
  color: white;
}

.vertical-nav .nav-top .nav-list, .vertical-nav .nav-bottom .nav-list {
  padding: 0;
}

.vertical-nav .nav-top .nav-list .nav-item, .vertical-nav .nav-bottom .nav-list .nav-item {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  color: white;
  text-decoration: none;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.vertical-nav .nav-top .nav-list .nav-item .icon, .vertical-nav .nav-bottom .nav-list .nav-item .icon {
  height: 44px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #5D6F7A;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.vertical-nav .nav-top .nav-list .nav-item .text, .vertical-nav .nav-bottom .nav-list .nav-item .text {
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #98ADBA;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.vertical-nav .nav-top .nav-list .nav-item.active .icon, .vertical-nav .nav-top .nav-list .nav-item:hover .icon, .vertical-nav .nav-bottom .nav-list .nav-item.active .icon, .vertical-nav .nav-bottom .nav-list .nav-item:hover .icon {
  color: #C9DCE9;
}

.vertical-nav .nav-top .nav-list .nav-item.active .text, .vertical-nav .nav-top .nav-list .nav-item:hover .text, .vertical-nav .nav-bottom .nav-list .nav-item.active .text, .vertical-nav .nav-bottom .nav-list .nav-item:hover .text {
  color: white;
  text-shadow: 0px 1px 3px #fff !important;
}

.vertical-nav.narrow {
  width: 64px;
  background-color: #212529;
}

.vertical-nav.narrow .branding .text {
  opacity: 0;
}

.vertical-nav.narrow .profile-util .chart .donut {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.vertical-nav.narrow .profile-util .chart .percentage {
  opacity: 0;
}

.vertical-nav.narrow .profile .avatar img {
  height: 34px;
  width: 34px;
}

.vertical-nav.narrow .profile .details {
  opacity: 0;
}

.vertical-nav.narrow .nav-list .text {
  opacity: 0;
}

.vertical-nav.wide {
  width: 260px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.vertical-nav.wide .nav-list .nav-item.active {
  background: #374147;
}

.logo {
  width: 45px;
  height: auto;
  margin: 10px;
  /* background: url("../img/favicon.png") no-repeat center; */
  background-size: contain;
  -webkit-transition: width 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
}

.wide .logo {
  width: 100%;
  background: url("../img/favicon.png") no-repeat center;
  background-size: 100px;
}

.wide .avatar {
  font-size: 40px !important;
}

#wrapper .navigation #sidebar-nav {
  overflow-y: hidden;
  overflow-x: hidden;
}

#wrapper #sidebar-nav::-webkit-scrollbar {
  height: 6px;
}

#wrapper #sidebar-nav, #wrapper .main {
  padding: 0;
}

#wrapper .sidebar {
  width: 260px;
  height: auto;
}

.vertical-nav {
  position: fixed;
}

.vertical-nav.wide .navigation li a.active .icon > .active-arrow {
  display: none;
}

.vertical-nav.wide .navigation.active ul > li > ul > li {
  padding-left: 15px;
}

.vertical-nav.narrow .navigation li a.active .icon > .active-arrow {
  display: block;
}

.vertical-nav.narrow .navigation.active li > a {
  padding-left: 19px;
  -webkit-transition: padding-left 0.1s;
  transition: padding-left 0.1s;
}

.vertical-nav .nav-list li {
  width: 254px;
}

.vertical-nav .nav-list li * {
  color: #5D6F7A !important;
}

.vertical-nav .nav-list li a {
  padding: 8px 6px 8px 15px;
  -webkit-transition: padding-left 0.1s;
  transition: padding-left 0.1s;
}

.vertical-nav .nav-list li a.active, .vertical-nav .nav-list li a:focus, .vertical-nav .nav-list li a:hover {
  background-color: unset;
}

.vertical-nav .nav-list li a.active .icon > *, .vertical-nav .nav-list li a:focus .icon > *, .vertical-nav .nav-list li a:hover .icon > * {
  color: #C9DCE9 !important;
}

.vertical-nav .nav-list li a.active .text, .vertical-nav .nav-list li a:focus .text, .vertical-nav .nav-list li a:hover .text {
  color: white !important;
}

.vertical-nav .nav-list li a .arrow {
  position: relative;
  top: -22px;
}

.vertical-nav .nav-list li a .icon {
  float: left;
}

.vertical-nav .nav-list li a .icon .active-arrow {
  display: none;
  font-size: 40px !important;
  margin: 0 !important;
  color: #EFF2F3 !important;
  position: absolute;
  top: 1px;
  left: 42px;
}

.vertical-nav .nav-list li a .icon .glyphicon {
  font-size: 20px;
  margin-top: 2px;
}

.vertical-nav .nav-list li a .icon .fa {
  font-size: 18px;
  margin-top: 4px;
}

.vertical-nav .nav-list li a .icon .material-icons {
  font-size: 23px;
  margin-top: 2px;
}

.vertical-nav .nav-list li a .text {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.vertical-nav .profile {
  z-index: 9999;
}

.vertical-nav .dropdown .dropdown-toggle {
  padding: 0px 15px;
}

.vertical-nav .dropdown .dropdown-toggle .lf-icon {
  width: 100%;
  text-align: end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=menu.css.map */